* { padding: 0; margin: 0; } /* required to set the bar height less than 34 */

window#waybar {
    background-color: #272e33;
    color: #d3c6aa;
    font-family: Noto;
    font-size: 11pt;
}

#battery {
    color: #a7c080;
}

#battery.warning {
    color: #dbbc7f;
}

#battery.critical {
    color: #e67e80;
}